---
layout: page
---

<!--   <h4>{{ post.title }},</h4>
  <p class="post-content">{{ content }}:</p> -->


    <!--=========== BEGIN ABOUT SECTION ================-->
{% for post in site.posts %} 
{% if post.type == "about-index" %} 
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <h2 class="wow fadeInLeftBig">About Us</h2>               
                <div class="col-lg-10 col-md-10 col-sm-12">
   
                    <h4>{{ post.title }},</h4>
                    <p>{{ post.info }}:</p>
 
                </div>
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                  <img class="logo-about" src="img/logo-up.gif" >
                </div>
                
              </div>

              <!-- START ABOUT CONTENT -->
              <div class="about_content">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_featured">
                      <div class="panel-group" id="accordion">
                        <!-- START SINGLE FEATURED ITEAM #1-->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                 <span class="fa fa-check-square-o"></span>Events &amp; Seminars
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                             {{ post.events }}
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #2 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                 <span class="fa fa-check-square-o"></span>Networking &amp; Socializing
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            {{ post.network }}
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #3 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="fa fa-check-square-o"></span>More 
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                             {{ post.more }}
                             <br><br> 
                             <a href="/about" class="ext-link">Read More.. <span class="fa fa-arrow-circle-right"></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_slider">
                      <!-- BEGAIN FEATURED SLIDER -->
                      <div class="featured_slider">
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img1.jpg" alt="img"></a>                          
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="img/feature_img2.jpg" alt="img"></a>                          
                        </div>
                      </div>
                      <!-- END FEATURED SLIDER -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>

    </section>
{% endif %}
{% endfor %}  
    <!--=========== END ABOUT SECTION ================-->

    <!--=========== BEGIN SERVICE SECTION ================-->
{% for post in site.posts %} 
{% if post.type == "org" %} 
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN SERVICE HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Organisation</h2>
              <p>{{ post.info }}</p>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN SERVICE  -->
            <div class="service_area">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInLeft">
                    <div class="service_iconarea">
                      <span class="fa fa-paper-plane service_icon"></span>
                    </div>
                    <h3 class="service_title">Planning & Strategy</h3>
                    <p>{{ post.plan }}
                      <ul>
                          <!-- <li>(1) An Annual (Academic) Conference</li>
                          <li>(2) A Series of Panel Discussions </li>
                          <li>(3) Serve as the Society’s ARC Grant Writing Hub</li> -->
                          <br>
                          <a href="PhDSociety_PASC_Strategic_Plan_ 06-07-2015.pdf" class="ext-link" target="_blank">Read More.. <span class="fa fa-arrow-circle-right"></span></a>
                      </ul>
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <!-- BEGAIN SINGLE SERVICE -->
                  <div class="single_service wow fadeInRight">
                    <div class="service_iconarea">
                      <span class="fa fa-sitemap service_icon"></span>
                    </div>
                    <h3 class="service_title">Constitution</h3>
                    <p>{{ post.const }}</p>
                    <br>
                    <a href="PhDAssociationConstitutionDraft.pdf" class="ext-link" target="_blank">Read More.. <span class="fa fa-arrow-circle-right"></span></a>
                  </div>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endif %}
{% endfor %}  
    <!--=========== END SERVICE SECTION ================-->
        <!--=========== BEGAIN TEAM SECTION ================-->
    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN ABOUT HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Our Team</h2>            
            </div>
            <div class="team_area">
              <!-- BEGAIN TEAM SLIDER -->
              <div class="team_slider">  
                <!-- BEGAIN SINGLE TEAM SLIDE#1 -->              
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="img/man1.png" alt="img">
                    </div>
                    <h5 class="">Tim Hill</h5>
                    <span>Legal Framework and Constitution committee</span>                        
                    <div class="team_social">
                      <a  href="malito:trhill@student.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                      <!-- <a target="_blank" href="https://au.linkedin.com/pub/joan-nakato/2b/874/935"><i class="fa fa-linkedin"></i></a> -->
                    </div>
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#2 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="img/avatar3.png" alt="img">
                    </div>
                    <h5>Joan Nakato</h5>
                    <span>Services committee</span>                        
                    <p></p>
                    <div class="team_social">
                      <a  href="malito:jnakato@student.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                      <a target="_blank" href="https://au.linkedin.com/pub/joan-nakato/2b/874/935"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#3 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="img/man2.png" alt="img">
                    </div>
                    <h5>Andre Gulyas</h5>
                    <span>Services committee</span>                        
                    <div class="team_social">
                      <a  href="malito:andre.gulyas@unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                      <a target="_blank" href="https://au.linkedin.com/in/andregulyas"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#4 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="img/mswami.jpg" alt="img">
                    </div>
                    <h5>Megha Swami</h5>
                    <span>Web and Social Media committee</span>            
                    <div class="team_social">
                      <a  href="malito:mwami@student.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                      <a target="_blank" href="https://au.linkedin.com/pub/megha-swami/bb/698/b02"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#5 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="img/nswami.jpg" alt="img">
                    </div>
                    <h5>Neha Swami</h5>
                    <span>Web and Social Media committee</span>                        
                    <!-- <p>Responsible for organizing all the organizations social events.</p> -->
                    <div class="team_social">
                      <a  href="malito:nwami@student.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                      <a target="_blank" href="https://au.linkedin.com/pub/neha-swami/a3/81a/a2b"><i class="fa fa-linkedin"></i></a>
                    </div>                    
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#6 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="img/syed.jpg" alt="img">
                    </div>
                    <h5>Syed Shaffique Aljoofri</h5>
                    <span>Finance committee</span>                        
                    <div class="team_social">
                      <a href="malito:s.aljoofri@student.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                      <a target="_blank" href="https://au.linkedin.com/pub/syed-shaffique-aljoofri/52/959/351"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#7 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="img/man.png" alt="img">
                    </div>
                    <h5>Graham Dwyer</h5>
                    <span>Legal Framework and Constitution committee</span>                        
                    <div class="team_social">
                      <a href="malito:gdwyer@student.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                      <!-- <a target="_blank" href="https://au.linkedin.com/pub/syed-shaffique-aljoofri/52/959/351"><i class="fa fa-linkedin"></i></a> -->
                    </div>
                  </div>
                </div>
                <!-- BEGAIN SINGLE TEAM SLIDE#8 -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                    <div class="team_img">
                      <img src="img/man3.png" alt="img">
                    </div>
                    <h5>Darron Thomas</h5>
                    <span>Event management committee</span>                        
                    <p></p>
                    <div class="team_social">
                      <a href="mailto:darront@student.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                      <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
                    </div>
                  </div>
                </div>                              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END TEAM SECTION ================-->

    <!--=========== BEGAIN WORKS SECTION ================-->
{% for post in site.posts %} 
{% if post.type == "event" %} 
    <section id="works">
      <!-- BEGAIN FORTFOLIO WORSK SECTION -->
      <div class="row">
        <div class="portfolio_area">
          <!-- BEGAIN PORTFOLIO HEADER -->
          <div class="row">
            <div class="col-lg-12 col-md-12">
             <div class="container">
                <div class="heading">
                  <h2 class="wow fadeInLeftBig">Events</h2>
                  <p>{{ post.info }}</p>
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="counter wow fadeInUp">
                    <i class="fa fa-users fa-2x"></i>
                    <h2 class="timer count-title" id="count-number" data-to="{{ post.member }}" data-speed="1500">{{ post.member }}</h2>
                     <p class="count-text ">Member</p>
                  </div>
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="counter wow fadeInUp">
                    <i class="fa fa-tasks fa-2x"></i>
                    <h2 class="timer count-title" id="count-number2" data-to="{{ post.eventno }}" data-speed="1500">{{ post.eventno }}</h2>
                     <p class="count-text ">Events</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>         
      </div>      
      <!-- END FORTFOLIO WORSK SECTION -->
    </section>
 {% endif %}
{% endfor %} 
    <!--=========== END WORKS SECTION ================-->

    <!--=========== BEGAIN TESTIMONIAL SECTION ================-->
    <section id="testimonial">
      <div class="container"> 
        <div class="row">
          <div class=" col-lg-7 col-md-7 col-sm-6">
            <!-- START BLOG HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Gallery</h2>
            </div>
          </div>
          <!-- BEGAIN PORTFOLIO GALLERY -->
          <div class="row">
            <div class="portfolio_gallery">
              <div id="">
                  <ul>
                    <li data-tags="All" data-id="0" class="col-lg-3 col-md-3 col-sm-6" style="transition: height 500ms ease; height: 250px;"><img src="img/portfolio/small/1.jpg">
                    </li>
                    <li data-tags="All" data-id="1" class="col-lg-3 col-md-3 col-sm-6" style="transition: height 500ms ease; height: 250px;"><img src="img/portfolio/small/2.jpg">
                    </li>
                    <li data-tags="All" data-id="2" class="col-lg-3 col-md-3 col-sm-6"><img src="img/portfolio/small/3.jpg" >
                    </li>
                    <li data-tags="All" data-id="3" class="col-lg-3 col-md-3 col-sm-6"><img src="img/portfolio/small/4.jpg" >
                    </li>
                  </ul>
                </div>
            </div>
          </div>
          <!-- END PORTFOLIO GALLERY -->          
        </div>
      </div>
    </section>
    <!--=========== END TESTIMONIAL SECTION ================-->
