  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Faculty of Business and Economics Student Society : A Melbourne Student Society</title>
<meta name="description" content="faculty of business and economics student society at meblourne university for post graduate students">
<meta name="keywords" content="faculty of business and economics student society, fbe Student Society, fpss, fpss github, melbourne university student society, faculty of business and economics, Student Society">
<meta name="author" content="MoonLab">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/gif" href="img/FBE-PhD-Student-Society-logo.gif"/>

    <!-- CSS
    ================================================== -->       
    <!-- Bootstrap css file-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Superslide css file-->
    <link rel="stylesheet" href="/css/superslides.css">
    <!-- Slick slider css file -->
    <link href="/css/slick.css" rel="stylesheet"> 
    <!-- smooth animate css file -->
    <link rel="stylesheet" href="/css/animate.css">  
    <!-- Elastic grid css file -->
    <link rel="stylesheet" href="/css/elastic_grid.css"> 
    <!-- Circle counter cdn css file -->
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css'>    
    <!-- Default Theme css file -->
    <link id="orginal" href="/css/themes/default-theme.css" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="/css/style.css" rel="stylesheet">
   


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>