---
layout: default
---

    </header>
    <!--=========== End HEADER SECTION ================--> 

    <!--=========== BEGIN ABOUT SECTION ================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <h2 class="wow fadeInLeftBig">About Us</h2>               
                <div class="col-lg-10 col-md-10 col-sm-12">
                  <h4 class="fadeInLeftBig">Creating opportunities,</h4>
                  <p>We ensure that our graduates across all of the departments within the faculty of business and economics are provided with enriching experiences that will enable them to make meaningful and worthwhile contributions to society. The society will have standing committee of member who will maintain our constitution and ensure that the society is representative of students needs across the faculty of business and economics. The standing committee will ensure that appropriate funding and governance structures ensure that students are represented in a legitimate and meaningful way. The society aims to achieve this through the following:</p>
                </div>
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                  <img class="logo-about" src="img/logo-up.gif" >
                </div>
                
              </div>

              <!-- START ABOUT CONTENT -->
              <div class="about_content">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <ul class="about_featured">
                      <li><span>(1)</span> Through seminars that invite thought leaders, politicians, community leaders, academics and media to discuss events that are relevant and apt. Such events will seek to provide students with opportunities to make connections with people from across the private and public sector.</li>
                      <li><span>(2)</span> Alongside these topical seminars, our annual conference will provide students with an opportunity to organise and coordinate conferences across the diverse disciplines within our faculty and where appropriate we will deliver our conference in partnership with other universities. Our conference will provide students at all stages in the PhD with an opportunity to build valuable skills and enduring relationships with the community of scholars.</li>
                      <li><span>(3)</span> Our website will be a current repository of matters that are relevant to all students across our faculty. Such matters will include opportunities relating to the job market, funding, internships, seminars and upskilling.</li>
                      
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_slider">
                      <!-- BEGAIN FEATURED SLIDER -->
                      <div class="featured_slider">
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <img src="img/feature_img1.jpg" alt="img">
                          <!-- <a href="#"> <img src="img/feature_img1.jpg" alt="img"></a>                           -->
                        </div>
                      </div>
                      <!-- END FEATURED SLIDER -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">     
              <img class="side-image-2"  src="img/feature_img2.jpg" >
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <!-- <h2 class="wow fadeInLeftBig">About Us</h2>  -->              
                <div class="subSection">
                  <h4 class="fadeInLeftBig">Providing support,</h4>
                  <p>The society aims to provide financial, academic and social support for our graduate students, allowing students to reach their full potential:</p>
                  <ul>
                    <li><span>(1)</span> By providing clear details of how students can have input to the society.</li>
                    <li><span>(2)</span> By providing financial support through funding opportunities, helping you attend conferences, rewarding you for having competitive papers accepted at leading international conferences.</li>
                    <li><span>(3)</span> By providing links to relevant university services relating to academic services so that students are clear about the milestones that they must deliver at different stages of the PhD journey.</li>
                    <li><span>(4)</span> By ensuring that students are offered relevant information of services available so that they can access support for their health and wellbeing if / when needed during their PhD journey.</li>
                  </ul>
                </div>
                
              </div>

 
            </div>
          </div>
        </div>       
      </div>
            <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <!-- <h2 class="wow fadeInLeftBig">About Us</h2>  -->              
                <div class="subSection">
                  <h4 class="fadeInLeftBig">Continuing excellence,</h4>
                  <p>The society serves to maintain and enhance the University of Melbourne’s position as Australia’s leading university with a global reputation:</p>
                  <ul>
                    <li><span>(1)</span> By bringing scholars and practitioners together to create new ways of thinking in the area of business and economics.</li>
                    <li><span>(2)</span> A current website with material of relevance to students which makes available the proceedings and key documents that embody our society.</li>
                    <li><span>(3)</span> Website displays where graduate students have been placed after their studies.</li>
                    <li><span>(4)</span> Students are offered access to alumni who may be able to assist them with progressing their scholarly endeavours.</li>

                    <li><span>(5)</span> Students are provided with the opportunity to have their work peer reviewed through relevant content experts which the society will be able to access through alumni.</li>
                    <li><span>(6)</span> Students are provided with mentors who can coach them in the key areas of teaching and research so that they achieve academic and teaching excellence.</li>
                    <li><span>(7)</span> Annual or biannual conference organised by the society, bringing in renowned keynote speakers. This conference will also allow students to have their work evaluated by the senior academics across the faculty.</li>
                    <li><span>(8)</span> Keynote speakers from our conference become adjunct patrons and work with the society’s committee to promote the society to global audience.</li>
                  </ul>
                </div>
                
              </div>

 
            </div>
          </div>
          <div class="col-lg-4 col-md-4 hidden-sm">
              <img class="side-image-3" src="img/feature_img3.jpg" >
          </div>
        </div>       
      </div>

    </section>
    <!--=========== END ABOUT SECTION ================-->